@model List<CHTC_1.Models.SanPham>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" src="/images/@item.SpHinhanh">
                        <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                            <ul class="list-unstyled">
                                <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>
                                <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a></li>
                                <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="shop-single.html" class="h3 text-decoration-none">@item.SpTensp</a>
                        <p class="text-center mb-0">@item.SpGia.ToString("#,##0") VNĐ</p>
                    </div>
                </div>
            </div>
        }
    }
