@model CHTC_1.Models.PhuongThucThanhToan

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div style="margin-left:24px;text-align:center">
    <h3>Xoá phương thức thanh toán</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Phương thức thanh toán:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PtttTen)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PtttId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn" style="background-color:rgb(9, 122, 60);color:antiquewhite" asp-action="Index">Trở lại</a>
    </form>
</div>
