@model CHTC_1.Models.PhuongThucThanhToan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-left:24px;text-align:center">
<div>
    <h1>Chi tiết phương thức thanh toán</h1>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Phương thức thanh toán:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PtttTen)
        </dd>
    </dl>
</div>

<div>
        <a class="btn btn-warning"  asp-action="Edit" asp-route-id="@Model.PtttId">Chỉnh sửa</a> |
        <a class="btn" style="background-color:rgb(9, 122, 60);color:antiquewhite" asp-action="Index">Trở lại</a>
</div>
</div>
