@model CHTC_1.Models.Loai

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div style="text-align:center">
<h3>Bạn chắc chắn muốn xoá?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên loại:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LTenloai)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LId" />
        <input type="submit" value="Xoá" class="btn btn-danger" /> |
            <a class="btn" style="background-color:rgb(9, 122, 60);color:antiquewhite" asp-action="Index">Trở lại</a>
    </form>
</div>
</div>
