@model CHTC_1.Areas.Admin.Models.ChangePwAdmin
@{
    ViewData["Title"] = "AdminChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-changepass-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Đổi mật khẩu</h1>
                        </div>
                        <form class="user" asp-action="AdminChangePassword" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <input asp-for="PasswordNow" type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Mật khẩu hiện tại">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input asp-for="Password" type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Mật khẩu mới">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="ConfirmPassword" type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Nhập lại mật khẩu mới">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            @*<a href="login.html" class="btn btn-primary btn-user btn-block">
                            Đổi mật khẩu
                            </a>*@
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary btn-user btn-block" />
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
