 @model CHTC_1.Models.NguoiDung

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin:24px">
	<h1 style="text-align:center">Thông tin cá nhân</h1>

	<div class="container">
		<div class="row gutters">
			<form asp-action="EditProfile" asp-controller="NguoiDung" method="post" enctype="multipart/form-data">
			<input type="hidden" asp-for="NdId" />
			@*<input type="hidden" asp-for="VtId" />*@
			<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12" style="display: inline-block">
				<div class="card" style="height:312px">
					<div class="card-body">
						<div class="account-settings">
							<div class="user-profile">
								<div class="user-avatar">
									<img src="/images/@Model.NdHinhanh" alt="User Picture" style="width:100%; height:242px" id="previewImage">
									<input type="file" name="ifile" asp-for="NdHinhanh" class="form-control-file" id="imageInput" />
									<span asp-validation-for="NdHinhanh" class="text-danger"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12" style="float:right">
				<div class="card h-100">
					<div class="card-body">
						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<h6 class="mb-2 text-primary">Chi tiết</h6>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label asp-for="NdHoten" class="control-label">Họ tên</label>
									<input asp-for="NdHoten" class="form-control" />
									<span asp-validation-for="NdHoten" class="text-danger"></span>
								</div>
							</div>
							@*<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label asp-for="TkEmail" class="control-label">Email</label>
									<input asp-for="TkEmail" class="form-control" />
									<span asp-validation-for="TkEmail" class="text-danger"></span>
								</div>
							</div>
							<input asp-for="TkMatkhau" class="form-control" type="hidden" readonly="readonly"/>*@
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label asp-for="NdSdt" class="control-label">Số điện thoại</label>
									<input asp-for="NdSdt" class="form-control" />
									<span asp-validation-for="NdSdt" class="text-danger"></span>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label asp-for="NdDiachi" class="control-label">Địa chỉ</label>
									<input asp-for="NdDiachi" class="form-control" />
									<span asp-validation-for="NdDiachi" class="text-danger"></span>
								</div>
							</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label class="control-label">Giới tính</label>
										<div>
											<div style="display: inline-block;margin:12px 12px;">
												<label class="control-label">Nam</label>
												<input type="radio" asp-for="NdGioitinh" value="0"/>
											</div>
											<div style="display: inline-block;margin:12px 12px;">
												<label class="control-label">Nữ</label>
												<input type="radio" asp-for="NdGioitinh" value="1" />
											</div>
											<div style="display: inline-block;margin:12px 12px;">
												<label class="control-label">Khác</label>
												<input type="radio" asp-for="NdGioitinh" value="2" />
											</div>
											
										</div>	
									</div>
								</div>
						</div>
						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="text-right">
										<input type="submit" value="Lưu" class="btn btn-primary" /> 
										<a asp-action="ProfileCustomer" asp-controller="NguoiDung" class="btn btn-secondary">Trở lại</a>	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
	<script>
		$('#imageInput').on('change',function(){
			console.log("load ảnh")
			var imgInput = $('#imageInput').data('id')
			var previewImg = $('previewImage').data('id')
			if (imageInput.files && imageInput.files[0]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					previewImage.src = e.target.result;
				};
				reader.readAsDataURL(imageInput.files[0]);
			}
		})
	</script>
}
